{% extends "/layouts/tip.html" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
  },
  html: "This is not a full service. It is not production code."
}) }}

{{ govukBreadcrumbs({
  items: [
    { text: "My account", href: "/webcaf/tip/current/my-account" },
    { text: "Edit draft TIP", href: "/webcaf/tip/current/draft-tip" },
    { text: "Check your answers" }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">{{ system.name }} ({{ system.finalReportReference }})</span>
    <h1 class="govuk-heading-l">Check your actions</h1>

    <p class="govuk-body">
      Review the information you have provided for this TIP before continuing.
    </p>

    <h2 class="govuk-heading-m">Priority recommendations</h2>
    <p class="govuk-body-s govuk-!-margin-bottom-5">
      4 recommendations · {{ prioritySummary.actionAdded }} action added
    </p>

    {% for rec in priorityRecommendations %}
      <div class="govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            {{ rec.recId }} — {{ rec.outcome }} {{ rec.outcomeTitle }}
          </h3>

          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="{{ rec.changeHref }}">
                Change
                <span class="govuk-visually-hidden">
                  {{ rec.recId }} {{ rec.outcome }} {{ rec.outcomeTitle }}
                </span>
              </a>
            </li>
          </ul>
        </div>

        <div class="govuk-summary-card__content">
          <p class="govuk-body-s govuk-!-margin-bottom-3">
            Priority recommendation
          </p>

          {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-0",
            rows: rec.rows
          }) }}
        </div>
      </div>
    {% endfor %}

    <h2 class="govuk-heading-m govuk-!-margin-top-8">Other recommendations</h2>
    <p class="govuk-body-s govuk-!-margin-bottom-5">
     1 recommendation ·  {{ otherSummary.actionAdded }} actions added
    </p>

    {% for rec in otherRecommendations %}
      <div class="govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            {{ rec.recId }} — {{ rec.outcome }} {{ rec.outcomeTitle }}
          </h3>

          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="{{ rec.changeHref }}">
                Change
                <span class="govuk-visually-hidden">
                  {{ rec.recId }} {{ rec.outcome }} {{ rec.outcomeTitle }}
                </span>
              </a>
            </li>
          </ul>
        </div>

        <div class="govuk-summary-card__content">
          <p class="govuk-body-s govuk-!-margin-bottom-3">
            Other recommendation
          </p>

          {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-0",
            rows: rec.rows
          }) }}
        </div>
      </div>
    {% endfor %}


     <h2 class="govuk-heading-l">Download your draft TIP</h2>
<div id="changedName-hint" class="govuk-hint">
      Your draft Targeted Improvement Plan (TIP) is ready to be downloaded and passed to the relevant managers, teams or stakeholders for final sign-off
    </div>
    <p class="govuk-body">
      <a href="/public/downloads/draft-tip-report.pdf" class="govuk-link govuk-link--no-visited-state" download="Draft-TIP-Report.pdf">Download draft TIP (PDF)</a><br>
      <a href="#" class="govuk-link govuk-link--no-visited-state" download="Draft-TIP-Report.pdf">Download draft TIP Excel data (XLSX)</a>
    </p>
     
<br>
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


    <form action="/webcaf/tip/current/check-answers" method="post" novalidate>
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "confirmAnswers",
        fieldset: {
          legend: {
            text: "Do you want to continue?",
            classes: "govuk-fieldset__legend--m"
          }
        },
         hint: {
          text: ""
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: data['confirmAnswers'] == 'yes'
          },
          {
            value: "no",
            text: "No",
            checked: data['confirmAnswers'] == 'no'
          }
        ]
      }) }}

{{ govukWarningText({
  text: "Update one or more actions to continue.",
  iconFallbackText: "Warning"
}) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}