{% extends "layouts/main.html" %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  
{% set pageName="Home" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">
      Create a TIP admin prototype
    </h2>
  </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="proto-admin">
        <h2 class="govuk-heading-l">User research</h2>
 <p class='govuk-list app-list--definition'>
              <a href='/webcaf/tip/current/start' class="govuk-link--no-visited-state">Version 3 (current)</a>
            <ol class="govuk-list govuk-list--number">
  <li><strong>Task list page:</strong>Remove the "in progress" TIP or to-do TIP from the task list (Robert)</li>
  <li><strong>Task list page:</strong>Make a decision on the action word for the task list (Respond for priority / Review for other)</li>
  <li><strong>My account page:</strong>Edit wording for links for a completed TIP (no reference to TIP report), instead showing TIP PDF, HTML and XLS</li>
  <li><strong>Priority recommendations - with filter:</strong>Implement dynamic column widths for risk / recommendation to accommodate longer text entries </li>
  <li><strong>Priority recommendations - with filter:</strong>Add an "in progress" status option to the task interface to allow users to save incomplete sections and return later</li>
  <li><strong>Check-answers form:</strong> Remove 'yes' from 'no action added' and show 'No action' with reason in the same row </li>
  <li><strong>Check-answers form:</strong> Add 'Review recommendations' above the Action details row</li>
  <li><strong>Task list page:</strong>
Streamline the approval process so that back-end approval finalises the submission, avoiding an extra confirmation step:
<br> 2. Review your draft TIP. <br>3. Submit your TIP. Move confirmation step to 
</li>
<li><strong>Confirmation page:</strong>: Create clearer confirmation messaging and email notification for applicants once their submission is approved </li>
<li><strong>Email confirmation via Gov Notify: [ Outstanding ] </strong>: Create automated e-mail notification for applicants once their submission is approved, enabling them to access and download their final report  </li>
</ol>
            
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 15 June 2026
            </span>
             
        </p>

</div>

<div class="proto-admin">
        <h2 class="govuk-heading-l">Design history</h2>
 <p class='govuk-list app-list--definition'>
              <a href='#' class="govuk-link--no-visited-state">Version 2 (under development)</a>
             <br>
            Version 2 design - This version includes some design changes from UR made durin the week of research.
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 11 June 2026
            </span>
             
        </p>




        
 <p class='govuk-list app-list--definition'>
              <a href='#' class="govuk-link--no-visited-state">Version 1.2 (under development)</a>
             <br>
            Version 1.2 design - to be used for user research with CAF leads and assessors. This version includes all 4 tasks of the TIP process, including a generated TIP report output sample.
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 9 June 2026
            </span>
             
        </p>

</div>
</div>


      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


                  
</div>
</div>

{% endblock %}


