{% extends "layouts/main.html" %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  
{% set pageName="Home" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">
      Create a TIP admin prototype
    </h2>
  </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="proto-admin">
        <h2 class="govuk-heading-l">Design iterations</h2>
          <p class='govuk-list app-list--definition'>
           <a href='/webcaf/tip/current/start-step5' class="govuk-link--no-visited-state">Version 4.1 (current)</a>
           <br>Content updates from Will's document, including UR feedback from 18 June 2026.<br><br>
           Includes TIP report updates.

           
          <p class='govuk-list app-list--definition'>
           <a href='/webcaf/tip/current/webcaf' class="govuk-link--no-visited-state">GovAssure process (step-by-step)</a>
           <br>Step-by-step pattern applied to the GovAssure process, including tailored start pages.



            <span class="govuk-body govuk-!-font-size-14">#Last updated on 18 June 2026
            </span>
             
        </p>

</div>

<div class="proto-admin">
        <h2 class="govuk-heading-l">Design history</h2>
        <p class='govuk-list app-list--definition'>

        <a href='#' class="govuk-link--no-visited-state">Version 3 (under development)</a>
             <br>
            Version 3 design - This version includes some design changes from UR made durin the week of research.
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 16 June 2026
            </span>
             
        </p>
        <p class='govuk-list app-list--definition'>
              <a href='#' class="govuk-link--no-visited-state">Version 2 (under development)</a>
             <br>
            Version 2 design - This version includes some design changes from UR made durin the week of research.
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 11 June 2026
            </span>
             
        </p>




        
 <p class='govuk-list app-list--definition'>
              <a href='#' class="govuk-link--no-visited-state">Version 1.2 (under development)</a>
             <br>
            Version 1.2 design - to be used for user research with CAF leads and assessors. This version includes all 4 tasks of the TIP process, including a generated TIP report output sample.
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 9 June 2026
            </span>
             
        </p>

</div>
</div>


      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


                  
</div>
</div>

{% endblock %}


