{% extends "layouts/webcaf.html" %}
{% block pageTitle %}
B4.b Not achieved outcome – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
 

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
   {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Create a new assessment
        ",
        href: "#"
      },
      {
        text: "Objective B - Protecting against cyber attacks and data breaches
        ",
        href: "#"
      },
      
      {
        text: "B4.b Secure configuration outcome"
      }
    ]
  }) }}
  <div class="proto-admin">
   <div id="changedName-hint" class="govuk-hint">
      Principle 4 of 6<br>
      <strong>Principle: B4 System security</strong>
    </div>     
         <p id="progress-pages"><strong>You have completed 28% of your CAF self-assessment</strong></p>
         <div class="progress-inactive"><div class="progress-active" style="width: 28%"></div></div>
      </div>
  
  
{% endblock %}
{% block content %}
<form class="form" action="objective-b-status2" id="mainForm" method="post">
<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">B4.b Secure configuration outcome</h1>
<h1 class="govuk-heading-m">Status: Not achieved</h1>

{% set changeStatus %}
{{ govukTextarea({
  name: "moreDetail",
  id: "more-detail",
  label: {
    text: "Explain why you've changed the outcome"
  }
}) }}
{% endset -%}

{{ govukRadios({
  classes: "",
  name: "4b4-not-achieved",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: "You selected 'not true' to at least one of the achieved or partially achieved statements.<br>Please confirm you agree with this status, or you can choose to change the outcome."
  },
  items: [
    {
      value: "no",
      text: "Confirm",
      checked: checked("b4b-not-achieved", "no")
    },
    {
      value: "pa",
      text: "Change to Partially achieved",
      conditional: {
        html: changeStatus
      },
      checked: checked("b4b-not-achieved", "pa")
    },
    {
      value: "yes",
      text: "Change to Achieved",
      conditional: {
        html: changeStatus
      },
      checked: checked("b4b-not-achieved", "yes")
    }
    
  ]
}) }}

  <h3 class="govuk-heading-m">Provide a summary about secure configuration</h3>
            
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How to write a good summary
    </span>
  </summary>
  <div class="govuk-details__text">
  It’s important that you provide enough context for the assessor about your organisation. They are unlikely to know it as well as you do.<br>
  <p class="govuk-body">The assessor will want your self-assessment to be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>complete</li>
  <li>accurate</li>
  <li>relevant</li>
  <li>consistent</li>
</ul>
<p>
For example, the assessor will want to see that you have clear justifications for answers and have provided enough evidence.<Br><Br>
They will want to see evidence that you accurately measured your organisation’s cyber security posture.<Br><Br>
It will also be important to the assessor that they can see your answers are relevant to each of the contributing outcomes and IGPs.<br><Br>
Before submitting your self-assessment, you must check that your answers are consistent across the outcomes and IGPs, because the assessor will compare your responses.</p></div>
</details>   

{{ govukCharacterCount({
  id: "label-as-page-heading",
  name: "labelAsPageHeading",
  maxwords: 1500,
  label: {
    html: 'Please write a short summary outlining how you worked towards achieving this outcome.'
  }
}) }}      
 

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}
  </form>

  <a class="govuk-link" href="b4b">Back to statements </a>
</div>
    </div>    
  </div>

{% endblock %}
