{% extends "layouts/webcaf-home.html" %}
{% block pageTitle %}
My account with draft  - System user (submitted) – GOV.UK Prototype Kit
{% endblock %}
{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <form class="form" action="start-draft-assessment" method="post">
    
      {% set html %}
  <p class="govuk-notification-banner__heading">
    Before starting a new CAF self-assessment, you must have completed your scoping document for stage 1 and 2 of the GovAssure process.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

 <h2 class="govuk-heading-l">
        My account
      </h2>
      <div> <p class="govuk-hint">On this page you can start a new assessment, continue a draft assessment and view assessments already sent for review.</p></div>
  {{ govukButton({
  text: "Start a self-assessment",
  classes: "govuk-button--secondary"
}) }}

</form>
<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
       Continue a draft assessment
      </h3>
      

    
     <p class="govuk-body govuk-!-margin-bottom-2 govuk-hint">You do not have any draft assessments<p>

<Br>
<h3 class="govuk-heading-m">
       Assessments sent for review
      </h3>  
    <p class="govuk-body govuk-!-margin-bottom-2 govuk-hint">You have not sent any assessments for review.<p>
    </div>
    <div class="govuk-grid-column-one-third">
    <h2 class="govuk-body" id="subsection-title">
      Logged in as
      <span class="govuk-heading-m">
      Civil Aviation Authority
</span> 
</h2>
        
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list">
      <li>
      </li>
      <li>
        <a href="org-contact"class="govuk-link govuk-link--no-visited-state">
          Update your organisation
        </a>
      </li>
      <li>
        <a href="#"class="govuk-link govuk-link--no-visited-state">
         Manage users
        </a>
      </li>
    </ul>
  </nav>
  </div>
  </div>

{% endblock %}
