{% extends "/layouts/review-conf.html" %}

{% block pageTitle %}
Report history – Independent Assurance Review
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype",
      classes: "govuk-tag--pink"
    },
    html: "This is not a full service. It is not production code and you might experience problems."
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "My account",
        href: "#"
      },
      {
        text: "Report history"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-l">SYS-0001 Microsoft CS version 3 (CAF24092025FDMH)</span>
    <h1 class="govuk-heading-l">Report history</h1>

    <p class="govuk-body">
      This page lists all versions of the IAR report for this system. You can view and download the current report or re-open the review to update it.
    </p>
<p>When you re-open the latest review it will create a new version of the report based on your changes.<br><br>Earlier versions of the report are saved for audit purposes.</p>

   
<p></p>
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {{ govukTable({
      caption: "Created versions",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: false,
      head: [
        { text: "Version" },
        { text: "Created on" },
        { text: "Created by" },
        { text: "Status" },
        { text: "Actions" }
      ],
      rows: [
        [
          { text: "Version 3" },
          { text: "14 February 2026 at 09:07" },
          { text: "Alex Morgan" },
          { html: "<strong class='govuk-tag govuk-tag--blue'>Current – with organisation</strong>" },
          {
  html:
    "<a class='govuk-link' href='iar-report-v4'>View report</a><br>" +
    "<a class='govuk-link' href='#'>Download (PDF)</a><br>"   
    
}
        ],
        [
          { text: "Version 2" },
          { text: "5 December 2025 at 10:15" },
          { text: "Alex Morgan" },
          { html: "<strong class='govuk-tag govuk-tag--grey'>Superseded</strong>" },
          {
            html:
              "<a class='govuk-link' href='#'>View report</a><br>" +
              "<a class='govuk-link' href='#'>Download (PDF)</a>"
          }
        ],
        [
          { text: "Version 1" },
          { text: "26 November 2025 at 16:03" },
          { text: "Alex Morgan" },
          { html: "<strong class='govuk-tag govuk-tag--grey'>Superseded</strong>" },
          {
            html:
              "<a class='govuk-link' href='#'>View report</a><br>" +
              "<a class='govuk-link' href='#'>Download (PDF)</a>"
          }
        ]
      ]
    }) }}

{# Dinamic code to generate version details from 'routes.js' - this is `toRow` might output per version #}
  {# {{ govukTable({
      firstCellIsHeader: false,
      head: [
        { text: "Version" },
        { text: "Reference" },
        { text: "Generated on" },
        { text: "Generated by" },
        { text: "Status" },
        { text: "Actions" }
      ],
      rows: reportVersions | default([]) | map("toRow")
    }) }}
#}
    


     <h2 class="govuk-heading-m govuk-!-margin-top-6">Create a new report version</h2>

    <p class="govuk-body">
      To create a new version of the report you must <strong>re-open the current review</strong> and make the changes you need.
      You will be able to change outcome statuses, recommendations and comments.
    </p>
  {{ govukInsetText({
  html: 'You can mark one version as the final report. This is the version you should share as xxxxxxxxxxxx.   
</p>'
}) }}
<p class="govuk-body">


    <form action="/webcaf/review/current/task/9/reopen-review" method="post">
      
     <div class="govuk-button-group">
      {{ govukButton({
        text: "Open current review to create a new report",
        classes: "govuk-button--warning"
      }) }}
<a class="govuk-link" href="/webcaf/review/current/task/9/choose-final">Choose final version</a>
    </DIV>
    </form>

  
  

  </div>
</div>
{% endblock %}
