{% extends "/layouts/webcaf.html" %}

{% block pageTitle %}
Check system details – GOV.UK Prototype Kit
{% endblock %}
 
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock  %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check your system details
      </h1>


    {# if autocomplete exists show auto system #}
      {% if  data['govsysmanual'] %}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "System name"
            },
            value: {
              html: data['govsysmanual'] 
            },
            actions: {
              items: [
                {
                  href: "add-system",
                  text: "Change",
                  visuallyHiddenText: "Add system"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "System description
"
            },
            value: {
              html: data['govsysdescription']
            },
            actions: {
              items: [
                {
                  href: "add-system",
                  text: "Change",
                  visuallyHiddenText: "Add description"
                }
              ]
            }
          }
        ]
      }) }}

      {% else %}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "System name"
            },
            value: {
              html: data['systemauto']
            },
            actions: {
              items: [
                {
                  href: "add-system",
                  text: "Change",
                  visuallyHiddenText: "Add system"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "System description"
            },
            value: {
              html: data['govsysdescription']
            },
            actions: {
              items: [
                {
                  href: "add-system",
                  text: "Change",
                  visuallyHiddenText: "Add description"
                }
              ]
            }
          }
        ]
      }) }}
 {% endif%}

      <form action="/webcaf/current/draft-assessment3" method="post" novalidate>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
