{% extends "layouts/main.html" %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  
{% set pageName="Home" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">
      Peer review Webcaf admin prototype
    </h2>
  </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="proto-admin">
        <h2 class="govuk-heading-l">User research</h2>

  <p class='govuk-list app-list--definition'>
              <a href='/webcaf/peer-review/v1/task/9/iar-report-v6' class="govuk-link--no-visited-state">Peer Review Report - v1 (current)</a>
             <br>
            Baseline version for the Peer Review Report.
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 23 February 2026.
            </span>
        

        <p class='govuk-list app-list--definition'>
              <a href='/webcaf/peer-review/v1/start' class="govuk-link--no-visited-state">Version 1.1 (current)</a>
             <br>
            End-to-end journey - v1.1 including the latest content updates on the status page for A3.a Asset management review. We have now removed all comments from IGP statements.
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 16 February 2026.
            </span>

         


</div>

<div class="proto-admin">
        <h2 class="govuk-heading-l">Design history</h2>
          
        <p class='govuk-list app-list--definition'>
              <a href='start' class="govuk-link--no-visited-state">Version 2 (on backlog)</a>
             <br>
            Added a new flow when peer review outcome status is automated and review summary is added on the status page. We have now removed all comments from IGP statements. 
            <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 12 February 2026. </span> 
              
            </span>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

</div>
                  
</div>
</div>

{% endblock %}


