{% extends "/layouts/webcaf.html" %}
{% block bodyStart %}


 <form action="?">
  {% set html %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We'd like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.</p>
{% endset %}

{% set acceptHtml %}
  <p class="govuk-body">You've accepted additional cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
{% endset %}

{% set rejectedHtml %}
  <p class="govuk-body">You've rejected additional cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on Complete a WebCAF self-assessment",
  messages: [
    {
      headingText: "Cookies on Complete a WebCAF self-assessment",
      html: html,
      actions: [
        {
          text: "Accept additional cookies",
          type: "submit",
          name: "cookies[additional]",
          value: "yes"
        },
        {
          text: "Reject additional cookies",
          type: "submit",
          name: "cookies[additional]",
          value: "no"
        },
        {
          text: "View cookies",
          href: "cookies"
        }
      ]
    },
    {
      html: acceptHtml,
      actions: [
        {
          text: "Hide cookie message",
          type: "submit",
          name: "cookies[hide]",
          value: "yes"
        }
      ],
      hidden: true
    },
    {
      html: rejectedHtml,
      actions: [
        {
          text: "Hide cookie message",
          type: "submit",
          name: "cookies[hide]",
          value: "yes"
        }
      ],
      hidden: true
    }
  ]
}) }}


 </form>
 {% endblock %}

{% block pageTitle %}
  Cookies updated - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}




  


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set html %}
  <h3 class="govuk-notification-banner__heading">
   Your cookie settings were saved
<br>
    
  </h3>
  <p>Government services may set additional cookies and, if so, will have their own cookie policy and banner.
</p>

  
{% endset %}




{{ govukNotificationBanner({
  html: html,
  type: "success"
}) }}





      <h1 class="govuk-heading-xl">
        Cookies on the Complete a WebCAF self-assessment service
      </h1>
      <form class="form" action="cookies-updated" id="mainForm" method="post">
      
      
      <h2 class="govuk-heading-l">
        Cookies
      </h2>
        <p>
        Small files (known as 'cookies') are put onto your computer to collect information about how you browse the site.
      </p>
      <p class="govuk-body">Cookies are used to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>measure how you use the website so it can be updated and improved based on your needs</li>
          <li>remember the notifications you've seen so that you're not shown them again</li>
        </ul>
      {{ govukInsetText({
        text: " The cookies on this service are not used to identify you personally."
      }) }}
      
      <p>
        Find out more about <a href="https://www.aboutcookies.org/" target="new" class="govuk-link">how to manage cookies (opens in a new tab)</a> .
      </p>
      
      <h2 class="govuk-heading-m">
        Cookies that measure website use
      </h2>
      <p>We use Google Analytics cookies to measure how you use GOV.UK and government digital services.
      </p>
      <p class="govuk-body">These cookies collect information about:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>how you got to these sites
</li>
  <li>the pages you visit and how long you spend on each page
</li>
  <li>what you click on while you're visiting these sites
</li>
</ul>
<p>We do not allow Google to use or share this data for their own purposes.
</p>

{{ govukRadios({
  name: "cookies",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Use cookies that measure my website use",
      checked: checked("cookies", "yes")
    },
    {
      value: "no",
      text: "Do not use cookies that measure my website use",
      checked: checked("cookies", "no")
    }
  ]
}) }}

{{ govukButton({
  text: "Save changes"
}) }}



</form>

<h2 class="govuk-heading-m">
        Essential cookies

      </h2>
      <p>We use some essential cookies to make this service work.
      </p>
<p>Essential cookies keep your information secure while you use this service. We do not need to ask permission to use them.

</p>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s">Types of essential cookies</caption>
        
        <thead class="govuk-table__head">
        
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">sessionid</th>
            <td class="govuk-table__cell">Used to save your session data</td>
            <td class="govuk-table__cell">14 days</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">csrftoken</th>
            <td class="govuk-table__cell">Prevents submitting invalid data</td>
            <td class="govuk-table__cell">1 year</td>
          </tr>
        </tbody>
      </table>

      
      <h3 class="govuk-heading-l">
        Government services and external websites
      </h3>
      <p>
        Most services we link to are run by different government departments, or external websites for example Government Digital Service (GDS) or the NCSC website. These services may set additional cookies and, if so, will have their own cookies policy. 
      </p>



    </div>
  </div>

{% endblock %}
{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/current/privacy",
         text: "Privacy"
       },
       {
        href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/current/cookies",
        text: "Cookies"
      },
       {
         href: "#",
         text: "Accessibility statement"
       },
       {
        href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/current/data",
        text: "Data usage policy"
      },
      {
        href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/current/help",
        text: "Help"
      }
       
      
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}