{% extends "layouts/webcaf-home.html" %}

{% block pageTitle %}
GovAssure Lead - My account (saved) – GOV.UK Prototype Kit
{% endblock %}
 
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
 

 <h2 class="govuk-heading-l">
        My Organisation lead account
      </h2>
 <form class="form" action="#" method="post">  
       <div> <p class="govuk-hint">On this page you can:
      <ul class="govuk-list govuk-list--bullet govuk-hint">
        <li>start a new self-assessment</li>
        <li>continue a draft self-assessment</li>
        <li>view self-assessments already sent for review</li>
        <li>view Independent Assurance Reviews</li>
      </ul>
      
    </p>
      </div>
</form>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
       Continue a draft self-assessment
      </h3>
          <p class="govuk-body govuk-!-margin-bottom-2">You have 1 draft self-assessment ready to send<p>
            <a href="draft-assessments" class="govuk-link govuk-link--no-visited-state">
                      View draft self-assessments<Br>
          </a>
          </p>


    <h3 class="govuk-heading-m">
          Self-assessments sent for review
    </h3>
        <p class="govuk-body govuk-!-margin-bottom-2 govuk-hint">You have not sent any self-assessments for review.<p>
   

      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
       View an Independent Assurance Review (IAR)
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-2 govuk-hint">You have no Independent Assurance Reviews.</p>

    

      

    </div>

    <div class="govuk-grid-column-one-third">

      
        <h2 class="govuk-body" id="subsection-title">
          Logged in as
          <span class="govuk-heading-m">
          Civil Aviation Authority
          
        </span> 
        </h2>
        
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
            </li>
            <li>
              <a href="organisation-show"class="govuk-link govuk-link--no-visited-state">
                Your organisation details
              </a>
            </li>
          </ul>
        </nav>
      

    </div>
  </div>

{% endblock %}
