{% extends "layouts/webcaf.html" %}

{% block beforeContent %}
 

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
   {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Create a new assessment
        ",
        href: "#"
      },
      {
        text: "Objective A - Managing security risk
        ",
        href: "#"
      },
      
      {
        text: "A3.a Asset management outcome"
      }
    ]
  }) }}
  <div class="proto-admin">
   <div id="changedName-hint" class="govuk-hint">
      Principle 3 of 4<br>
      <strong>Principle: A3 Asset management</strong>
    </div>     
         <p id="progress-pages"><strong>You have completed 6% of your CAF self-assessment</strong></p>
         <div class="progress-inactive"><div class="progress-active" style="width: 6%"></div></div>
      </div>
  
  
{% endblock %}
{% block content %}
<form class="form" action="objective-a-status" id="mainForm" method="post">
<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">A3.a Asset management outcome</h1>
<h1 class="govuk-heading-m">Status: Not achieved</h1>

<span class="govuk-hint">This may be because you answered 'true' to one or more not achieved statements, or you selected ‘not true’ for one or more achieved statements. 
<br>Please confirm you agree with this status, or you can choose to change the outcome.
</span>


{% set changeStatus %}
{{ govukTextarea({
  name: "moreDetail",
  id: "more-detail",
  label: {
    text: "Explain why you've changed the outcome"
  }
}) }}
{% endset -%}

{{ govukRadios({
  classes: "",
  name: "a3a-not-achieved",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: ""
  },
  items: [
    {
      value: "no",
      text: "Confirm",
      checked: checked("a3a-not-achieved", "no")
    },
    {
      value: "yes",
      text: "Change to Achieved",
      conditional: {
        html: changeStatus
      },
      checked: checked("a3a-not-achieved", "yes")
    }
    
  ]
}) }}

  <h3 class="govuk-heading-m">Please write a contributing outcome summary</h3>
  <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How to write a good summary
    </span>
  </summary>
  <div class="govuk-details__text">
  GovAssure stage 4 assessments are reviewed against the contributing outcomes. <br><br>
  While the focus is on meeting the contributing outcome, any gaps or limitations in the cyber security measures for the contributing outcome should also be detailed in this summary. <br><br>
  You should reference the IGPs in your contributing outcome summary. This is particularly important if you have included justifications for individual IGPs.<Br><br>
  
    
  <p class="govuk-body">The assessor will want your summary to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>explain what your organisation does</li>
  <li>show how key controls and processes contributed to you achieving the contributing outcome</li>
  <li>have brief descriptions of how these are implemented</li>
  <li>include clear references to supporting evidence</li>
</ul>
<p>
Before submission, check that your overall contributing outcome achievement status and your responses to IGP statements are consistent, as the assessor will compare these. Any inconsistencies must be explained through your justifications or when changing the outcome. <Br><Br>
For more detailed guidance on what is expected for each contributing outcome, please visit security.gov.uk.

</p></div>
</details>             
      

{{ govukCharacterCount({
  id: "label-as-page-heading",
  name: "labelAsPageHeading",
  maxwords: 1500,
  label: {
    html: 'Please write a contributing outcome summary'
  }
}) }}      
 

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}
  </form>

  <a class="govuk-link" href="a3a">Back to statements </a>
</div>
    </div>    
  </div>

{% endblock %}
