{% extends "layouts/webcaf.html" %}

{% block beforeContent %}
 

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
   {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Create a new assessment
        ",
        href: "#"
      },
      {
        text: "Objective A - Managing security risk
        ",
        href: "#"
      },
      
      {
        text: "A3.a Asset management outcome"
      }
    ]
  }) }}
  <div class="proto-admin">
   <div id="changedName-hint" class="govuk-hint">
      Principle 3 of 4<br>
      <strong>Principle: A3 Asset management</strong>
    </div>     
         <p id="progress-pages"><strong>You have completed 6% of your CAF self-assessment</strong></p>
         <div class="progress-inactive"><div class="progress-active" style="width: 6%"></div></div>
      </div>
  
  
{% endblock %}
{% block content %}
<form class="form" action="a3a-outcome-not-achieved-answer" id="mainForm" method="post">
<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">A3.a Asset management outcome</h1>
<h1 class="govuk-heading-m">Status: Not achieved</h1>

{{ govukInsetText({
  text: "You have received this status because you have selected one or more not achieved IGP statements."
}) }}

  {% set AddSummary %}
  
  {{ govukCharacterCount({
  id: "a3aOutcomeAchived",
  name: "a3aOutcomeAchived",
  maxwords: 1500,
  label: {
    html: '
     <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How to write a contributing outcome summary
    </span>
  </summary>
  <div class="govuk-details__text">
  GovAssure stage 4 assessments are reviewed against the contributing outcomes. <br><br>
  You must explain the achievement status by writing a contributing outcome summary.<br><br> 
  
    
  <p class="govuk-body">This summary must reference the IGPs and include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>an explanation of how key controls and processes support the contributing outcome</li>
  <li>a brief description of how these are implemented</li>
  <li>details of exemptions or alternative controls that have been provided in your IGP selections</li>
  <li>clear references to supporting evidence</li>
</ul>
<p>
If status is “not achieved”, you should still explain where you are working towards the contributing outcome with references to the IGPs as this outcome will still be assessed.
<Br><Br>
For more detailed guidance on what is expected visit the <a href="https://www.security.gov.uk/policy-and-guidance/govassure/stage-3-self-assessment/" class="govuk-link--no-visited-state" target="new">Stage 3 guidance on security.gov.uk</a>.

</p></div>
</details>'
  }
}) }}      
      {% endset -%}

{{ govukRadios({
  classes: "",
  name: "a3a-not-achieved",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: 'Confirm you agree with this status, or go back and change your response to the IGP statements.'      
  },
  items: [
    {
      value: "yes",
      text: "Confirm, and write a contributing outcome summary",
      conditional:   {
        html: AddSummary
      },
      checked: checked("a3a-not-achieved", "yes")
    },
    {
      value: "no",
      text: "Change your response",
      checked: checked("a3a-not-achieved", "no")
    }
    
  ]
}) }}
 

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}
  </form>

  
</div>
    </div>    
  </div>

{% endblock %}
