{% extends "/layouts/webcaf-cyber.html" %}

{% block pageTitle %}
Add system – GOV.UK Prototype Kit
{% endblock %}
 
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}




{% endblock  %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          
<span class="govuk-caption-l">Civil Aviation Authority</span>
      <h1 class="govuk-heading-l">
        Add a new government system
      </h1>
     
      <form class="form" action="check-system" id="mainForm" method="post">
     
       
     
          {{ govukInput({
          label: {
            html: '<span class="govuk-heading-m">System name</span>'
          },
          hint: {
            text: "Add a new system name"
          },
          id: "govsysmanual",
          name: "govsysmanual",
          type: "string",
          autocomplete: "string",
          spellcheck: false,
          value: data['govsysmanual']
          
        }) }}

      <h2 class="govuk-heading-m">
        System type
      </h2>
{{ govukRadios({
  classes: "govuk-radios",
  name: "systype",
  fieldset: {
    legend: {
      text: "What best describes this system?",
      isPageHeading: true,
      classes: "govuk-body"
    }
  },
  hint: {
    text: "Select one option"
  },
  items: [
    {
      value: "The system directly supports the organisation mission",
      text: "The system directly supports the organisation mission",
      hint: {
        text: "For example, Universal Credit"
      },
      checked: checked("systype", "The system directly supports the organisation mission")
    },
    {
      value: "The system is a corporate or enterprise system or network that supports other critical systems",
      text: "The system is a corporate or enterprise system or network that supports other critical systems",
      hint: {
        text: "For example, hosting platform or network, Active Directory"
      },
      checked: checked("systype", "The system is a corporate or enterprise system or network that supports other critical systems")
    },
    {
      value: "The system is a corporate or enterprise system deemed critical for day-to-day operations",
      text: "The system is a corporate or enterprise system deemed critical for day-to-day operations",
      hint: {
        text: "For example, Microsoft Office 365, telephony, corporate website"
      },
      checked: checked("systype", "The system is a corporate or enterprise system deemed critical for day-to-day operations")
    },
    {
      value: "The system is hosted externally, including by commercial providers or other departments",
      text: "The system is hosted externally, including by commercial providers or other departments",
      hint: {
        text: "For example, shared services"
      },
      checked: checked("systype", "The system is hosted externally, including by commercial providers or other departments")
    }
  ]
}) }}

        
    {{ govukTextarea({
    name: "govsysessentialservice",
    id: "govsysessentialservice",
    type: "string",
    autocomplete: "string",
    label: {
      text: "What essential service does this system support?",
      classes: "govuk-heading-s",
      value: data['govsysessentialservice'],
      isPageHeading: true
    },
    hint: {
      text: "Describe what essential service this system supports."
    }
  }) }}

  <h2 class="govuk-heading-m">
       Previous GovAssure assessments
      </h2>

{{ govukRadios({
  name: "govassureYear",
  fieldset: {
    legend: {
      text: "Has this system been assessed before 2025/26?",
      isPageHeading: true,
      classes: "govuk-body"
    }
  },
  hint: {
    text: "Select one option"
  },
  items: [
    {
      value: "2023 to 24",
      text: "Yes, assessed in 2023 to 24",
      checked: checked("govassureYear", "2023 to 24")
    },
    {
      value: "2024 to 25",
      text: "Yes, assessed in 2024 to 25",
      checked: checked("govassureYear", "2024 to 25")
    },
    {
      value: "2023 to 24 and 2024 to 25",
      text: "Yes, assessed in both 2023 to 24 and 2024 to 25",
      checked: checked("govassureYear", "2023 to 24 and 2024 to 25")
    },
    {
      value: "No",
      text: "No",
      checked: checked("govassureYear", "No")
    }
  ]
}) }}


<h2 class="govuk-heading-m">
        System owner
      </h2>

{{ govukRadios({
  name: "sysowner",
  fieldset: {
    legend: {
      text: "Who owns this system?",
      isPageHeading: true,
      classes: "govuk-body"
    }
  },
  hint: {
    text: "Select one option"
  },
  items: [
    {
      value: "The organisation being assessed",
      text: "The organisation being assessed",
      checked: checked("sysowner", "The organisation being assessed")
    },
    {
      value: "Another government organisation",
      text: "Another government organisation",
      checked: checked("sysowner", "Another government organisation")
    },
    {
      value: "Third-party company",
      text: "Third-party company",
      checked: checked("sysowner", "Third-party company")
    }
  ]
}) }}

<h2 class="govuk-heading-m">
        System hosting and connectivity
      </h2>

{{ govukRadios({
  name: "hosting",
  fieldset: {
    legend: {
      text: "How is the system hosted?",
      isPageHeading: true,
      classes: "govuk-body"
    }
  },
  hint: {
    text: "Select one option"
  },
  items: [
    {
      value: "On premises",
      text: "On premises",
      checked: checked("hosting", "On premises")
    },
    {
      value: "Cloud hosted",
      text: "Cloud hosted",
      checked: checked("hosting", "Cloud hosted")
    },
    {
      value: "Hybrid",
      text: "Hybrid",
      checked: checked("hosting", "Hybrid")
    }
  ]
}) }}

<h2 class="govuk-heading-m">
        Corporate services
      </h2>
{{ govukCheckboxes({
  name: "corporateServices",
  fieldset: {
    legend: {
      text: "What corporate or internal end-user services does this system provide?",
      isPageHeading: true,
      classes: "govuk-body"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "Email and communication",
      text: "Email and communication",
      checked: checked("corporateServices", "Email and communication")
    },
    {
      value: "Office productivity",
      text: "Office productivity",
      checked: checked("corporateServices", "Office productivity")
    },
    {
      value: "Document storage and management",
      text: "Document storage and management",
      checked: checked("corporateServices", "Document storage and management")
    },
    {
      value: "HR",
      text: "HR",
      checked: checked("corporateServices", "HR")
    },
    {
      value: "Payroll",
      text: "Payroll",
      checked: checked("corporateServices", "Payroll")
    },
    {
      value: "Procurement and contract management",
      text: "Procurement and contract management",
      checked: checked("corporateServices", "Procurement and contract management")
    },
    {
      value: "Customer relationship management",
      text: "Customer relationship management",
      checked: checked("corporateServices", "Customer relationship management")
    },
    {
      value: "Help desk / IT support",
      text: "Help desk / IT support",
      checked: checked("corporateServices", "Help desk / IT support")
    },
    {
      value: "Data management / analytics",
      text: "Data management / analytics",
      checked: checked("corporateServices", "Data management / analytics")
    },
    {
      value: "Other",
      text: "Other",
      checked: checked("corporateServices", "Other")
    },
    {
      divider: "or"
    },
    
    {
      value: "none",
      text: "None of the above",
      hint: {
        text: "For example, this system does not provide any corporate or internal end-user services"
      },
    behaviour: "exclusive"
    }
  ]
}) }}
       
          <span class="govuk-body govuk-!-font-size-24">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

         
        
        </div>
    
        
        </form>

    
   </div>
  

{% endblock %}
