{% extends "layouts/webcaf-home.html" %}

{% block pageTitle %}
Your draft self-assessments
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   {{ govukBackLink({
  text: "Back",
  href: "my-account-dept-draft-submitted"
}) }}
  {% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <form class="form" action="start-draft-assessment" method="post">
    
  
  <h1 class="govuk-heading-l">
        Your assessments sent for review
      </h1>
  

  {{ govukTable({
  caption: "View a sent assessment ",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "System name",
      classes: "app-custom-class"
    },
    
    {
      text: "Sent on",
      classes: "app-custom-class"
    },
    {
      text: "Action",
      classes: "app-custom-class"
    }
  ],
  rows: [
    [
      {
        html:"Microsoft CS version 3 (CAF24092025FDMH)"        
      },
      
      {
        html: "1:15am on 1 August 2025"
      },
      {
        html: '<a href="assessment-submitted">View</a>'
      }
    ]
  ]
}) }}
      </form>
    </div>
    
  </div>
  </div>

{% endblock %}
