{% extends "layouts/webcaf.html" %}

{% block pageTitle %}
  Complete the full assessment
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   {{ govukBackLink({
  text: "Back",
  href: "assessments"
}) }}
  {% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="my-account-dept-draft-submitted" method="post">
        <span class="govuk-caption-l">SYS 0001 Microsoft CS version 3 (CAF24092025FDMH)
</span> 
      <h1 class="govuk-heading-l">
       Self-assessment summary
      </h1>
      


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{{ govukButton({
    text: "Download as PDF ",
    classes: "govuk-button--secondary"
  }) }}
{{ govukSummaryList({
  classes: "govuk-summary-list",
  card: {
    title: {
      html: '<span class="govuk-heading-m">About the self-assessment</span>'
    }
  },
  
  rows: [
    {
      key: {
        text: "Self-assessment status",
        classes: "govuk-!-width-one-half"
      },
      value: {
        text: "Sent for review"
      }
    },
    {
      key: {
        text: "Reference number",
        classes: "govuk-!-width-one-half"
      },
      value: {
        text: "CAF24092025FDMH"
      }
    },
    {
      key: {
        text: "Organisation name",
        classes: "govuk-!-width-one-half"
      },
      value: {
        text: "Cabinet office"
      }
    },
    {
      key: {
        text: "System details",
        classes: "govuk-!-width-one-half"
      },
      value: {
        text: "Microsoft CS version 3"
      }
    },
    {
      key: {
        text: "Government CAF profile"
      },
      value: {
        text: "Baseline"
      }
    },
    {
      key: {
        text: "Review type"
      },
      value: {
        html: "Independent assurance review"
      }
    },
    {
      key: {
        text: "CAF version"
      },
      value: {
        html: "CAF v3.2 GovAssure "
      }
    },
    {
      key: {
        text: "Sent for review by"
      },
      value: {
        html: "robert.law@digital.cabinet-office.gov.uk"
      }
    }
  ]
}) }}

  




{{ govukSummaryList({
  classes: "govuk-summary-list",
  card: {
    title: {
      html: '<span class="govuk-heading-m">Objective A</span><span>Principle: A1 Governance</span>'
  },
  actions: {
      items: [
        {
          href: "#",
          text: "",
          visuallyHiddenText: "Download principle A2"
        }
      ]
    }
  },
  
  rows: [
    {
      key: {
        html: '<span class="govuk-heading-s">A1.a Board direction outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br></span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2:<br> </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3<br> </span>'
      },
      value: {
       html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4 <br>
  <div class="govuk-inset-text govuk-body govuk-!-font-size-16">
  <strong>Alternative controls:<Br></strong> We have monthly board-level meetings to discuss the security of
network and information systems.
</div>'

      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 4 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">None selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Your board, or equivalent members of senior management, should take overall accountability for the data protection and security risks your organisation faces. They should provide direction on cyber security and IG, which is then disseminated through your organisation’s policies, projects and procedures.</span>'
      }
    },
    {
      key: {
        html: '<br><br><span class="govuk-heading-s">A1.b Roles and responsibilities outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<Br><br><strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br></span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2:<br> </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3:<br> </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 3 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Your board, or equivalent members of senior management, should take overall accountability for the data protection and security risks your organisation faces. They should provide direction on cyber security and IG, which is then disseminated through your organisation’s policies, projects and procedures.</span>'
      }
    },
    {
      key: {
        html: '<Br><br>
        <span class="govuk-heading-s">A1.c Decision-making outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: '<Br><br><strong class="govuk-tag govuk-tag--red">Not achieved</strong><Br><br><strong>Baseline profile</strong><br><strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-1">Not met</strong>'
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br> </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4 
  <div class="govuk-inset-text ">
  <strong>Alternative controls:<Br></strong> We have wekly meetings to make risk management decisions.
</div>'

      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statement 1 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Risks to network and information systems related
to the operation of your essential function(s) are considered in the context of other organisational risks.</span>'
      }
    }
    
  ]
}) }}



{{ govukSummaryList({
  classes: "govuk-summary-list",
  card: {
    title: {
      html: '<span>Principle: A2 Risk management</span>'
  },
  actions: {
      items: [
        {
          href: "#",
          text: " ",
          visuallyHiddenText: "Download principle A2"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        html: '<span class="govuk-heading-s">A2.a Risk management process outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4 
  <div class="govuk-inset-text govuk-!-font-size-16">
  <strong>Alternative controls:<Br></strong> We have monthly board-level meetings to discuss the security of
network and information systems.
</div>'

      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 5:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Partially achieved statements 1 to 6 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Not selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 8 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Not selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Your board, or equivalent members of senior management, should take overall accountability for the data protection and security risks your organisation faces. They should provide direction on cyber security and IG, which is then disseminated through your organisation’s policies, projects and procedures.</span>'
      }
    },
    {
      key: {
        html: '<br><br><span class="govuk-heading-s">A2.b Assurance outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<Br><br><strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 5:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 3 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Not selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Your board, or equivalent members of senior management, should take overall accountability for the data protection and security risks your organisation faces. They should provide direction on cyber security and IG, which is then disseminated through your organisation’s policies, projects and procedures.</span>'
      }
    }
    
  ]
}) }}



{{ govukSummaryList({
  classes: "govuk-summary-list",
  card: {
    title: {
      html: '<span>Principle: A3 Asset management</span>'
   
  },
  actions: {
      items: [
        {
          href: "#",
          text: " ",
          visuallyHiddenText: "Download principle A3"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        html: '<span class="govuk-heading-s">A3.a Asset management outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
   
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 5:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 5 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">None selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Assets relevant to the essential function(s) are
managed with cyber security in mind throughout.</span>'
      }
    }
    
  ]
}) }}



{{ govukSummaryList({
  classes: "govuk-summary-list",
  card: {
    title: {
      html: '<span>Principle: A4 Supply chain</span>'
   
  },
  actions: {
      items: [
        {
          href: "#",
          text: " ",
          visuallyHiddenText: "Download principle A4"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        html: '<span class="govuk-heading-s">A4.a Supply chain outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
   
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 5:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 6:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 7:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Partially achieved statements 1 to 6 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">None selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 4 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">None selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">We understand which contracts are
relevant and we include
appropriate security obligations in
relevant contracts. We have a
proactive approach to contract
management which may include a
contract management</span>'
      }
    }
    
  ]
}) }}

{{ govukSummaryList({
  classes: "govuk-summary-list",
  card: {
    title: {
      html: '<span class="govuk-heading-m">Objective C</span><span>Principle: C1 Security monitoring</span>'
  },
  actions: {
      items: [
        {
          href: "#",
          text: " ",
          visuallyHiddenText: "Download principle A4"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        html: '<span class="govuk-heading-s">C1.a Monitoring coverage outcome status</span>' , 
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
   
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 5:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 6:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Partially achieved statements 1 to 4 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">None selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 4 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">None selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
          html: '<span class="govuk-body govuk-!-font-size-16">We have extensive monitoring
coverage that includes host-based
monitoring and network gateways.</span>'
      }
    },
    {
      key: {
        html: '<Br><br><span class="govuk-heading-s">C1.b Securing logs outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<br><br><strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
   
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 5:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 6:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 7:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Partially achieved statements 1 to 3 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">None selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 5 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">None selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Legitimate reasons for accessing
log data are given in use policies.</span>'
      }
    },
    {
      key: {
        html: '<br><br><span class="govuk-heading-s">C1.c Generating alerts outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<br><br><strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
   
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 5:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 6:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Partially achieved statements 1 to 5 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">None selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 5 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">None selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Legitimate reasons for accessing
log data are given in use policies.</span>'
      }
    },
    {
      key: {
        html: '<br><br><span class="govuk-heading-s">C1.d Identifying security incidents outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<br><br><strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2:<br> </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Partially achieved statements 1 to 4 </span>'
      },
      value: {
        html: "None selected"
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 4 </span>'
      },
      value: {
        html: "None selected"
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: "Legitimate reasons for accessing
log data are given in use policies. "
      }
    },
    {
      key: {
        html: '<br><br><span class="govuk-heading-s">C1.e Monitoring tools and skills outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<br><br><strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1</span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
   
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 5 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 6 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 7 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Partially achieved statements 1 to 5 </span>'
      },
      value: {
        html: "None selected"
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 5 </span>'
      },
      value: {
        html: "None selected"
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: "Legitimate reasons for accessing
log data are given in use policies. "
      }
    }
    
  ]
}) }}





{{ govukSummaryList({
  classes: "govuk-summary-list",
  card: {
    title: {
      html: '<span>Principle: C2 Proactive security event discover</span>'
   
  },
  actions: {
      items: [
        {
          href: "#",
          text: " ",
          visuallyHiddenText: "Download principle A3"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        html: '<span class="govuk-heading-s">C2.a System abnormalities for attack detection outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1</span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
  
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 2 </span>'
      },
      value: {
        html: "None selected"
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: "Assets relevant to the essential function(s) are
managed with cyber security in mind throughout."
      }
    },
     {
      key: {
        html: '<br><br><span class="govuk-heading-s">C2.b Proactive atack discovery outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<br><br><strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1</span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
  
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statement 1 </span>'
      },
      value: {
        html: "None selected"
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: "Assets relevant to the essential function(s) are
managed with cyber security in mind throughout."
      }
    }
    
  ]
}) }}



{{ govukSummaryList({
  classes: "govuk-summary-list",
  card: {
    title: {
      html: '<span class="govuk-heading-m">Objective D</span><span>Principle: D1 Response and recovery planning</span>'
  },
  actions: {
      items: [
        {
          href: "#",
          text: " ",
          visuallyHiddenText: "Download principle A4"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        html: '<span class="govuk-heading-s">D1.a Response plan outcome status</span>' , 
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1</span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Partially achieved statements 1 to 4 </span>'
      },
      value: {
        html: "None selected"
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 3 </span>'
      },
      value: {
        html: "None selected"
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: "Our incident response plan is
communicated and understood by
the business areas involved with
the operation of our essential
function(s).  "
      }
    },
    {
      key: {
        html: '<Br><br><span class="govuk-heading-s">D1.b Response and recovery capability outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<br><br><strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1</span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
   
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 5 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 6 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
     
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 3 </span>'
      },
      value: {
        html: "None selected"
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: "Arrangements exist to augment our organisation’s
incident response capabilities with external support if
necessary (e.g. specialist cyber incident responders).  "
      }
    },
    {
      key: {
        html: '<br><br><span class="govuk-heading-s">D1.c Testing and exercising outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<br><br><strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1</span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
   
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 4 </span>'
      },
      value: {
        html: "None selected"
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: "Exercises test all parts of our response cycle relating
to our essential function(s) (e.g. restoration of
normal function(s) levels).  "
      }
    }
    
  ]
}) }}





{{ govukSummaryList({
  classes: "govuk-summary-list",
  card: {
    title: {
      html: '<span>Principle: D2 Lessons learned</span>'
   
  },
  actions: {
      items: [
        {
          href: "#",
          text: " ",
          visuallyHiddenText: "Download principle A3"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        html: '<span class="govuk-heading-s">D2.a Incident Root Cause Analysis outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1</span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3 </span>'
      },
      value: {
         html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    
    
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 2 </span>'
      },
      value: {
        html: "None selected"
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: "All relevant incident data is made available to the
analysis team to perform root cause analysis.  "
      }
    },
    {
      key: {
        html: '<br><br><span class="govuk-heading-s">D2.b Using incidents to irive improvements outcome status</span>' ,
        classes: "govuk-!-width-one-half"
      },
      value: {
        html: "<br><br><strong class='govuk-tag govuk-tag--green'>Achieved</strong>"
      }
    },  
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 1:<br> You have a documented incident review
process/policy which ensures that lessons learned
from each incident are identified, captured,
and acted upon. </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 2:<br> Lessons learned cover issues with reporting, roles,
governance, skills and organisational processes as
well as technical aspects of network and
information systems.  </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 3:<br> You use lessons learned to improve security
measures, including updating and retesting
response plans when necessary.  </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 4:<br> Security improvements identified as a result of
lessons learned are prioritised, with the highest
priority improvements completed quickly.  </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
   
     {
      key: {
        html: '<span class="govuk-body govuk-!-font-size-16">Achieved statement 5:<br> Analysis is fed to senior management and
incorporated into risk management and continuous
improvement.  </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Selected</span>'
      }
    },
    
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Not achieved statements 1 to 2 </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">None selected</span>'
      }
    },
    {
      key: {
       html: '<span class="govuk-body govuk-!-font-size-16">Contributing outcome summary </span>'
      },
      value: {
        html: '<span class="govuk-body govuk-!-font-size-16">Analysis is fed to senior management and
incorporated into risk management and continuous
improvement. </span>'
      }
    }
    
  ]
}) }}

<div class="app-back-to-top" data-module="app-back-to-top" data-app-back-to-top-init="">
  <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="app-back-to-top__icon govuk-!-padding-right-1" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>

<br><br>
<div class="tooltip">
  Hover over this line
  <span class="tooltip-text">
    This is the long descriptive paragraph that shows when hovering.
  </span>
</div>
<br><br>

<div class="govuk-button-group">
  {{ govukButton({
    text: "Download as PDF ",
    classes: "govuk-button--secondary"
  }) }}

  <a class="govuk-link" href="#">Back to my account</a>
</div>



    </div>
  </div>
{% endblock %}
