{% extends "/layouts/webcaf.html" %}

{% block pageTitle %}
Start a draft assessment – GOV.UK Prototype Kit
{% endblock %}
 
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "Beta",
    classes: "govuk-tag--blue"
    },
      html: 'This is a new service. Help us improve this service by <a class="govuk-link" href="https://surveys.domains.gov.uk/s/webcaf-feedback/" target="new">reporting a problem or giving your feedback (opens in a new tab)</a>'
  }) }}

   {{ govukBreadcrumbs({
    items: [
      {
        text: "My account",
        href: "/webcaf/current/my-account"
      },
      {
        text: "Start a draft assessment",
        href: "/webcaf/current/start-a-draft-assessment"
      },
      {
        text: "Add a government system"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Beta phase banner
      </h1>

      <p>Beta phase banner is shown to users. There is a 
          <a class="govuk-link" href="https://surveys.domains.gov.uk/s/webcaf-feedback/" target="new">survey link</a> to add feedback too. 
        </p>

    </div>
  </div>

{% endblock %}
