{% extends "layouts/webcaf-submitted.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Self-assessment completed",
        html: "Your reference number<br><strong>CAF24092025FDMH</strong>"
      }) }}

      <p>
        Your CAF self-assessment has been shared with the GovAssure team. 
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        Now you have completed your self-assessment, you must make sure that your independent assessor or third-party reviewer can access it before starting stage 4.
      </p>
      {{ govukWarningText({
      text: "For your system to be assessed in GovAssure for 2025/26, your stage 4 review must be completed by 11:59pm on 31 March 2026.",
      iconFallbackText: "Warning"
      }) }}
      <p>
        <a href="#">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>


    </div>
  </div>

{% endblock %}
