{% extends "/layouts/webcaf.html" %}

{% block pageTitle %}
Help – GOV.UK Prototype Kit
{% endblock %}
 
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Help</h1>
     
      

<p>GovAssure uses the
        <a class="govuk-link" href="https://www.ncsc.gov.uk/collection/cyber-assessment-framework/introduction-to-caf" target="new">National Cyber Security Centre's Cyber Assessment Framework (CAF) (opens in new tab)</a> 
        to obtain an objective understanding of government cyber security as set out in the 
        <a class="govuk-link" href="https://www.gov.uk/government/publications/government-cyber-security-strategy-2022-to-2030/government-cyber-security-strategy-2022-to-2030-html" target="new">Government Cyber Security Strategy (opens in new tab)</a>.</p>


{{ govukInsetText({
  html: 'For assessments in 2025-26, GovAssure is using <a href="https://www.ncsc.gov.uk/files/Cyber%20Assessment%20Framework%20V3.2.pdf" target="_blank">CAF version 3.2 (opens in new tab)</a>. Please be aware that this is not the latest version published by NCSC.'
}) }}


<p>Visit <a href="https://www.security.gov.uk/policy-and-guidance/govassure/" target="_blank">security.gov.uk (opens in new tab)</a> for full GovAssure guidance. </p>

<p class="govuk-body">WebCAF is the digital service that allows:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>government organisations to provide a self-assessment against the CAF </li>
            <li>third-party reviewers to review self-assessments and provide their own assessment</li>
          </ul>

<p>For information on how your data is used in GovAssure, visit the <a href="data">data usage page</a>.</p>




      <h2 class="govuk-heading-m">Contact the GovAssure team</h2>

      <h3 class="govuk-heading-s">Email</h3>
<ul class="govuk-list">
  <li><a class="govuk-link" href="#">cybergovassure@cabinetoffice.gov.uk</a></li>
  <li>For general GovAssure enquiries</li>
</ul>

<ul class="govuk-list">
  <li><a class="govuk-link" href="#">webcaf@cabinetoffice.gov.uk</a></li>
  <li>For feedback or issues with WebCAF</li>
</ul>


     


    </div>
  </div>

{% endblock %}
{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/current/privacy",
         text: "Privacy"
       },
       {
        href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/current/cookies",
        text: "Cookies"
      },
       {
         href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/current/accessibility-statement",
         text: "Accessibility statement"
       },
       {
        href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/current/data",
        text: "Data usage policy"
      },
      {
        href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/current/help",
        text: "Help"
      }
       
      
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

