{% extends "layouts/webcaf-home.html" %}
{% block pageTitle %}
My account - GovAssure Lead user – GOV.UK Prototype Kit
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <form class="form" action="start-a-draft-assessment" method="post">
      <h2 class="govuk-heading-l">
        My Cyber advisor account
      </h2>
      {{ govukButton({
  text: "Start a draft assessment",
  classes: "govuk-button--secondary"
}) }}
</form>
<div id="noassessments-hint" class="govuk-hint">
     You have no draft assessments 
    </div>
      

     

              

      <p><br></p>
      <h2 class="govuk-heading-m">
        My government systems
      </h2>
      <P><a href="view-systems"class="govuk-link govuk-link--no-visited-state">
                Add a new system
              </a></P>

      <p><br></p>
      


     
      
    </div>

    <div class="govuk-grid-column-one-third">

      
        <h2 class="govuk-body" id="subsection-title">
          Logged in as <a href="org-change" class="govuk-link--no-visited-state govuk-body govuk-!-font-size-16 govuk-!-text-align-right"><strong>(Change)</strong></a>
          <span class="govuk-heading-m">
          Civil Aviation Authority
        </span> 
        </h2>
        
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
            </li>
            <li>
              <a href="my-organisation"class="govuk-link govuk-link--no-visited-state">
                Update organisation
              </a>
            </li>
            
          </ul>
        </nav>
      

    </div>
  </div>

{% endblock %}
