{% extends "layouts/webcaf-home.html" %}

{% block pageTitle %}
Cyber analyst - My account – GOV.UK Prototype Kit
{% endblock %}
 
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      <h2 class="govuk-heading-l">
        My account
      </h2>
    
    <form class="form" action="add-system-ca" method="post">  
    <div id="noassessments-hint" class="govuk-hint">
        On this page you can add new systems, modify existing systems <br>and manage users within an organisation.
        </div> 
        
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Add a new system"
      }) }}

     <a class="govuk-link govuk-link--no-visited-state" href="view-systems-2">View systems</a>
    </div>
    </form>

      


          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
       Continue a draft assessment
      </h3>
     <p class="govuk-body govuk-!-margin-bottom-2 govuk-hint">You do not have any draft assessments<p>



     
      
    </div>

    <div class="govuk-grid-column-one-third">

      
        <h2 class="govuk-body" id="subsection-title">
          Logged in as <a href="org-change" class="govuk-link--no-visited-state govuk-body govuk-!-font-size-16 govuk-!-text-align-right"><strong>(Change)</strong></a>
          <span class="govuk-heading-m">
          Civil Aviation Authority
        </span> 
        </h2>
        
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
            </li>
            
               <li>
              <a href="view-users2"class="govuk-link govuk-link--no-visited-state">
                Manage users
              </a>
            </li>
            
          </ul>
        </nav>
      

    </div>
  </div>

{% endblock %}
