{% extends "layouts/webcaf-home.html" %}
{% block pageTitle %}
My account with draft  - System user (submitted) – GOV.UK Prototype Kit
{% endblock %}
{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <form class="form" action="start-draft-assessment" method="post">
    
      {% set html %}
  <p class="govuk-notification-banner__heading">
    Before starting a new CAF self-assessment, you must have a completed and signed off scoping document for stage 1 and 2 of the GovAssure process.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

 <h2 class="govuk-heading-l">
        My account
      </h2>
      <div> <p class="govuk-hint">On this page you can view any assessments you have already submitted, continue any draft assessments an start a new assessment.</p></div>
  {{ govukButton({
  text: "Start a draft assessment",
  classes: "govuk-button--secondary"
}) }}

</form>
<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
       Draft assessments
      </h3>
      

    
     <p class="govuk-body govuk-!-margin-bottom-2 govuk-hint">You don't have any draft assessments.<p>

<Br>
<h3 class="govuk-heading-m">
       Submitted assessments
      </h3>  
    <p class="govuk-body govuk-!-margin-bottom-2 govuk-hint">You didn't submit an assessment.<p>
    </div>

    <div class="govuk-grid-column-one-third">

      
        <h2 class="govuk-body" id="subsection-title">
          Logged in as
          <span class="govuk-heading-m">
          Department for Science, Innovation & Technology
          
        </span> 
        </h2>
        
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
            </li>
            <li>
              <a href="org-type"class="govuk-link govuk-link--no-visited-state">
                Your organisation details
              </a>
            </li>
          </ul>
        </nav>
      

    </div>
  </div>

{% endblock %}
