{% extends "layouts/webcaf.html" %}

{% block pageTitle %}
  Objective A - Managing security risk - Submit a CAF self-assessment for a government system - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   {{ govukBreadcrumbs({
    items: [
      {
        text: "My account",
        href: "/webcaf/current/my-account-dept"
      },
      {
        text: "Start a draft assessment",
        href: "/webcaf/current/draft-assessment3"
      },
      {
        text: "Objective A - Managing security risk
        "
      }
    ]
  }) }}
  {% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Objective A - Managing security risk
      </h1>
       
<p>Please provide your answers for each principle. You can review the status of individual outcomes below each principle and change your answers if you need to.</p>

      <h2 class="govuk-heading-m">
        Principle: A1 Governance
      </h2>


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "A1.a Board direction",
              classes: "govuk-!-width-one-half"
            },
            value: {
              html: '<a class="govuk-link" href="#">Add your answers</a>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "A1.b Roles and responsibilities"
            },
            value: {
              html: '<a class="govuk-link" href="#">Add your answers</a>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "A1.c Decision-making"
            },
            value: {
              html: '<a class="govuk-link" href="#">Add your answers</a>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Principle: A2 Risk management
      </h2>


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "A2.a Risk Management Process",
              classes: "govuk-!-width-one-half"
            },
            value: {
              html: '<a class="govuk-link" href="#">Add your answers</a>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "A2.b Assurance"
            },
            value: {
              html: '<a class="govuk-link" href="#">Add your answers</a>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Principle: A3 Asset management
      </h2>


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "A3.a Asset managements",
              classes: "govuk-!-width-one-half"
            },
            value: {
              html: '<a class="govuk-link" href="#">Add your answers</a>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Principle: A4 Supply chain
      </h2>


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "A4.a Supply chain",
              classes: "govuk-!-width-one-half"
            },
            value: {
              html: '<a class="govuk-link" href="#">Add your answers</a>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
        ]
      }) }}

<form action="draft-assessment3" method="post" novalidate>

{{ govukRadios({
  name: "objective-a-completed",
  fieldset: {
    legend: {
      text: "Have you completed all four principles?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes, I've completed all four principles",
      checked: checked("objective-a-completed", "yes")
    },
    {
      value: "no",
      text: "No, I'll come back to it later",
      checked: checked("objective-a-completed", "no")
    }
  ]
}) }}

      

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
