{% extends "layouts/main.html" %}

{% block pageTitle %}
Service currently down for maintenance – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {% endblock %}

{% block content %}

{% set mainClasses = "govuk-main-wrapper--l" %}
<form class="form" action="start" id="mainForm" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your session has ended due to inactivity</h1>
        <p class="govuk-body">
          Your session has ended because you haven't done anything for 90 minutes.<br>Any pages you have saved earlier will be stored.</p>
        
        {{ govukInsetText({
          text: "We have deleted your responses on pages which you did not save."
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        </form>
        
    </div>
  </div>
{% endblock %}
