{% extends "/layouts/review-conf.html" %}

{% block pageTitle %}
Report history – Independent Assurance Review
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype",
      classes: "govuk-tag--pink"
    },
    html: "This is not a full service. It is not production code and you might experience problems."
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "My account",
        href: "#"
      },
      {
        text: "Report history",
        href: "#"
      },
      {
        text: "Choose the final report version
"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-l">SYS-0001 Microsoft CS version 3 (CAF24092025FDMH)</span>
    <h1 class="govuk-heading-l">Choose the final report version</h1>

    <p class="govuk-body">
      Choose which version to mark as the final report. This will  xxxxxxxxxxxx
    </p>

{{ govukRadios({
  name: "finalVersion",
  fieldset: {
    legend: { text: "Choose a version to mark as final", classes: "govuk-fieldset__legend--m" }
  },
  items: [
    { value: "3", text: "Version 3 — 14 February 2026 at 09:07 (current)" },
    { value: "2", text: "Version 2 — 5 December 2025 at 10:15 (superseded)" },
    { value: "1", text: "Version 1 — 26 November 2025 at 16:03 (superseded)" }
  ]
}) }}
<div class="govuk-button-group">
{{ govukButton({ text: "Mark selected version as final" }) }}
<p class="govuk-body">
  <a class="govuk-link" href="/webcaf/review/current/task/9/report-history2.njk">Cancel and return to report history</a>
</p>
</div>

  </div>
</div>
{% endblock %}