{% extends "/layouts/review-conf.html" %}

{% block pageTitle %}
Report history – Independent Assurance Review
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukPhaseBanner({
    tag: { text: "prototype", classes: "govuk-tag--pink" },
    html: "This is not a full service. It is not production code and you might experience problems."
  }) }}

  {{ govukBreadcrumbs({
    items: [
      { text: "My account", href: "#" },
      { text: "Report history" }
    ]
  }) }}
{% endblock %}

{% block content %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{# ---------------------------------------
  Prototype data (replace with real data)
---------------------------------------- #}
{% set latestVersionNumber = 3 %}
{% set latestVersionCreatedOn = "14 February 2026 at 09:07" %}
{% set latestVersionCreatedBy = "Alex Morgan" %}

{# If a final is set, store its version number here; otherwise set to null #}
{% set finalVersionNumber = null %}
{# e.g. {% set finalVersionNumber = 3 %} #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-l">SYS-0001 Microsoft CS version 3 (CAF24092025FDMH)</span>
    <h1 class="govuk-heading-l">Report history</h1>

    <p class="govuk-body">
    Use this page to manage your IAR reports. View, Download or mark final XXXXXXXX for your system XXXXXX.
    </p>

    {# -------------------------
      FINAL REPORT (if set)
    -------------------------- #}
    {% if finalVersionNumber %}
      <div class="govuk-inset-text">
        <p class="govuk-body govuk-!-margin-bottom-2">
          <strong>Final report:</strong> Version {{ finalVersionNumber }}
        </p>
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
          <li><a class="govuk-link" href="#">View final report</a></li>
          <li><a class="govuk-link" href="#">Download final (PDF)</a></li>
        </ul>
      </div>
    {% endif %}

    {# -------------------------
      LATEST VERSION PANEL
    -------------------------- #}
    <div class="govuk-inset-text">
      <p class="govuk-body govuk-!-margin-bottom-2">
        <strong>Latest report version:</strong>
        Version {{ latestVersionNumber }} ({{ latestVersionCreatedOn }}) 
      </p>
       <p class="govuk-body govuk-!-margin-bottom-0">
    <a class="govuk-link" href="iar-report-v{{ latestVersionNumber }}">View</a> |
    <a class="govuk-link" href="#">Download (PDF)</a> |
    <a class="govuk-link" href="#">Download (XLS)</a> 
    <br><br>
  </p>

      
      {% if finalVersionNumber == latestVersionNumber %}
        <strong class="govuk-tag govuk-tag--green">Final</strong>
        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
          This latest version is already the final report.
        </p>
      {% else %}
        
        {# Use GET to go to a confirmation page (recommended) #}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Make latest version final",
            href: "/webcaf/reports/final/confirm?version=" ~ latestVersionNumber
          }) }}
          
        </div>
      {% endif %}
    </div>

    {# -------------------------
      VERSION HISTORY TABLE
    -------------------------- #}
    <div id="versions"></div>
    {% if finalVersionNumber == 3 %}
  {% set v3StatusHtml = "<strong class='govuk-tag govuk-tag--green'>Final</strong>" %}
{% else %}
  {% set v3StatusHtml = "<strong class='govuk-tag govuk-tag--blue'>Latest</strong>" %}
{% endif %}


    {{ govukTable({
      caption: "Report versions",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: false,
      head: [
        { text: "Version" },
        { text: "Created on" },
        { text: "Created by" },
        { text: "Status" },
        { text: "Actions" }
      ],
      rows: [
        [
          { text: "Version 3" },
          { text: "14 February 2026 at 09:07" },
          { text: "Alex Morgan" },
          { html: "<strong class='govuk-tag govuk-tag--grey'>Current-with customer</strong>" },
          {
            html:
              "<a class='govuk-link' href='iar-report-v3'>View</a><br>" +
              "<a class='govuk-link' href='#'>Download (PDF)</a><br>"+
              "<a class='govuk-link' href='#'>Download (XLS)</a>"
          }
        ],
        [
          { text: "Version 2" },
          { text: "5 December 2025 at 10:15" },
          { text: "Alex Morgan" },
          { html: "<strong class='govuk-tag govuk-tag--grey'>Superseded</strong>" },
          {
            html:
              "<a class='govuk-link' href='iar-report-v2'>View</a><br>" +
              "<a class='govuk-link' href='#'>Download (PDF)</a><br>"+
              "<a class='govuk-link' href='#'>Download (XLS)</a>"
          }
        ],
        [
          { text: "Version 1" },
          { text: "26 November 2025 at 16:03" },
          { text: "Alex Morgan" },
          { html: "<strong class='govuk-tag govuk-tag--grey'>Superseded</strong>" },
          {
            html:
              "<a class='govuk-link' href='iar-report-v1'>View</a><br>" +
              "<a class='govuk-link' href='#'>Download (PDF)</a><br>"+
              "<a class='govuk-link' href='#'>Download (XLS)</a>"
          }
        ]
      ]
    }) }}

    {# -------------------------
      CREATE NEW VERSION (separate form)
    -------------------------- #}
    <h2 class="govuk-heading-m govuk-!-margin-top-6">Create a new report version</h2>

    <p class="govuk-body">
      To create a new version of the report you must <strong>re-open the current review</strong> and make the changes you need. You will be able to change outcome statuses, recommendations and comments.
    </p>

    <form action="/webcaf/review/current/task/9/reopen-review" method="post">
      {{ govukButton({
        text: "Open current review to create a new report",
        classes: "govuk-button--warning"
      }) }}
    </form>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Return to My account</a>
    </p>

  </div>
</div>
{% endblock %}
