{% extends "layouts/main.html" %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  
{% set pageName="Home" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">
      Review Webcaf admin prototype
    </h2>
  </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="proto-admin">
        <h2 class="govuk-heading-l">User research</h2>

          <p class='govuk-list app-list--definition'>
              <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/review/current/start' class="govuk-link--no-visited-state">Version 4 (current)</a>
             <br>
            End-to-end journey - v3 drop for User Research. This includes iterations based on feedback from the v2 testing and GovAssure suggestions.
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 9 January 2026.
            </span>

           <p class='govuk-list app-list--definition'>
              <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/review/current/task/9/iar-report-v4.njk' class="govuk-link--no-visited-state">IAR Report [Variant A]- 1.1 (current)</a>
             <br>
            Baseline design - v1.1 drop for User Research - A/B testing for Executive summary (Variant A - Outcome based).
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 13 January 2026.<br>
                //Version history<br>
            - updated overall summary for Objective A (all outcomes)<br>
            - Updated typo and Objective D metadata<br>
            - Updated Variant B - now we show correct counts and show correct labels againts CAF profile<br>
            - aligned stasus with comments - Anna/Katie collab<br>
            

              </span>
            <p class='govuk-list app-list--definition'>
              <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/review/current/task/9/iar-report-v3.njk' class="govuk-link--no-visited-state">IAR Report [Variant B] - 1.1 (current)</a>
             <br>
            Baseline design - v1.2 drop for User Research - A/B testing for Executive summary (Variant B - Principle based). 
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 13 January 2026.
            </span>
          
          

          


</div>

<div class="proto-admin">
        <h2 class="govuk-heading-l">Design history</h2>
          
         <p class='govuk-list app-list--definition'>
              <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/review/v2/start' class="govuk-link--no-visited-state">Version 2</a>
             <br>
            Version 2 was tested with users between 3 Dec and 5 Dec 2025. User insights have now been incorporated into the current version.
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 10 Dec 2025
            </span>
             
        </p>
    
        
        <p class='govuk-list app-list--definition'>
              <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/webcaf/review/v1/start' class="govuk-link--no-visited-state">Version 1</a>
             <br>
            Version 1 was tested with users between 3 Dec and 5 Dec 2025. User insights have now been incorporated into the current version.
              <br><span class="govuk-body govuk-!-font-size-14">#Last updated on 18 Aug 2025
            </span>
             
        </p>

</div>



      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


                  
</div>
</div>

{% endblock %}


