{% extends "layouts/main.html" %}

{% block pageTitle %}
Start your Independent Assurance Review
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Independent Assurance Review</h1>
    <p class="govuk-body">
      Use this service to complete and review your organisation’s self-assessment
      against the <strong>NCSC Cyber Assessment Framework (CAF)</strong>.
    </p>

    <p class="govuk-body">
      You will be able to review outcomes, confirm recommendations, and generate a final assurance report.
    </p>

    <h2 class="govuk-heading-m">Before you start</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>You must be an authorised Independent Assessor</li>
      <li>You will need access to the organisation’s CAF self-assessment data</li>
      <li>You can save and return at any time</li>
    </ul>

    <a href="dashboard" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
    </a>

  </div>
</div>
{% endblock %}
