{% extends "layouts/webcaf-review.html" %}
{% block pageTitle %}
  Start page  - Submit a CAF self-assessment for a system - GOV.UK Prototype Kit
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Review a WebCAF self-assessment
      </h1>
      <p>The WebCAF self-assessment allows you to assess your organisation’s critical systems.</p>
      <p>This is stage 4 of GovAssure, the cyber assurance process used to understand the level of cyber resilience across government.  
      </p>

      <p>The current GovAssure WebCAF is based on version 3.2 of the <a href="https://www.ncsc.gov.uk/files/Cyber%20Assessment%20Framework%20V3.2.pdf" target="_blank">National Cyber Security Centre's Cyber Assurance Framework (CAF) (opens in new tab)</a>.
      </p>
      

         

      <a href="sign-in" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Sign in
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
     
    </div>
   

    </div>    
  </div>

{% endblock %}
