{% extends "layouts/webcaf.html" %}

{% block pageTitle %}
B3.a Understanding data – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Create a new assessment
        ",
        href: "#"
      },
      {
        text: "Objective B - Protecting against cyber attacks and data breaches
        ",
        href: "#"
      },
      
      {
        text: "B3.a Understanding Data"
      }
    ]
  }) }}
  <div class="proto-admin">
   <div id="changedName-hint" class="govuk-hint">
      Principle 3 of 6<br>
      <strong>Principle: B3 Data security</strong>
    </div>     
         <p id="progress-pages"><strong>You're on outcome 1 of 5</strong></p>
         <div class="progress-inactive"><div class="progress-active" style="width: 0%"></div></div>
      </div>
  
{% endblock %}
{% block content %}

    <h3 class="govuk-heading-l">B3.a Understanding data</h3>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    
    <h3 class="govuk-heading-m">Read each statement and select what's true about your system or organisation.</h3>
    <form class="form" action="b3a-answer" method="post">
          
      {% set giveReason %}
      {{ govukTextarea({
        name: "give",
        id: "give",
        label: {
          text: "Tell us your justifications"
        }
      }) }}
      {% endset -%}

            {% set achievedHtml %}


              <h1 class="govuk-heading-s">Achieved statements</h1>
              <div id="signIn-hint" class="govuk-hint">To achieve this outcome you must answer true to all statements.
              </div> 
              {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

              {{ govukWarningText({
                text: "If you cannot select true for a statement, you must select not true and provide your justifications. If you don't have a justification, you will fail this outcome.",
                iconFallbackText: "Warning"
              }) }}
               
                  
              {{ govukRadios({
              name: "outcome1-achieved",  
              fieldset: {
                legend: {
                  text: "1. You have identified and catalogued all the data important to the operation of the essential function(s), or that would assist an attacker.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True ",
                  checked: checked("outcome1-achieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome1-achieved", "na")
                },
                {
                  value: "no",
                  text: " Not true and I have no justifications",
                  checked: checked("outcome1-achieved", "no")
                }
              ]
            }) }}

            {{ govukRadios({
              name: "outcome2-achieved",
              
              fieldset: {
                legend: {
                  text: "2. You have identified and catalogued who has access to the data important to the operation of the essential function(s).",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome2-achieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome2-achieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome2-achieved", "no")
                }
                
              ]
            }) }}

            {{ govukRadios({
              name: "outcome3-achieved",
              
              fieldset: {
                legend: {
                  text: "3. You maintain a current understanding of the location, quantity and quality of data important to the operation of the essential function(s).",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome3-achieved", "yes")
                },
                
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome3-achieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome3-achieved", "no")
                }
              ]
            }) }}

            {{ govukRadios({
              name: "outcome4-achieved",
              
              fieldset: {
                legend: {
                  text: "4. You take steps to remove or minimise unnecessary copies or unneeded historic data.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome4-achieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome4-achieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome4-achieved", "no")
                }
                
              ]
            }) }}
            {{ govukRadios({
              name: "outcome5-achieved",
              
              fieldset: {
                legend: {
                  text: "5. You have identified all mobile devices and media that may hold data important to the operation of the essential function(s).",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome5-achieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome5-achieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome5-achieved", "no")
                }
                
              ]
            }) }}
            {{ govukRadios({
              name: "outcome6-achieved",
              
              fieldset: {
                legend: {
                  text: "6. You maintain a current understanding of the data links used to transmit data that is important to your essential function(s).",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome6-achieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome6-achieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome6-achieved", "no")
                }
                
              ]
            }) }}
            {{ govukRadios({
              name: "outcome7-achieved",
              
              fieldset: {
                legend: {
                  text: "7. You understand the context, limitations and dependencies of your important data.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome7-achieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome7-achieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome7-achieved", "no")
                }
                
              ]
            }) }}
            {{ govukRadios({
              name: "outcome8-achieved",
              
              fieldset: {
                legend: {
                  text: "8. You understand and document the impact on your essential function(s) of all relevant scenarios, including unauthorised data access, modification or deletion, or when authorised users are unable to appropriately access this data.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome8-achieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome8-achieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome8-achieved", "no")
                }
                
              ]
            }) }}
            {{ govukRadios({
              name: "outcome9-achieved",
              
              fieldset: {
                legend: {
                  text: "9. You validate these documented impact statements regularly, at least annually.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome9-achieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome9-achieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome9-achieved", "no")
                }
                
              ]
            }) }}
                
            {% endset -%}
{% set partiallyachievedHtml %}
<h1 class="govuk-heading-s">Partially achieved statements</h1>
<div id="signIn-hint" class="govuk-hint">To partially achieve this outcome you must answer true to all statements.
</div>
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
    text: "If you cannot select true for a statement, you must select not true and provide your justifications. If you don't have a justification, you will fail this outcome.",
    iconFallbackText: "Warning"
    }) }}

    {{ govukRadios({
              name: "outcome1-partiallyachieved",  
              fieldset: {
                legend: {
                  text: "1. You have identified and catalogued all the data important to the operation of the essential function(s), or that would assist an attacker.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True ",
                  checked: checked("outcome1-partiallyachieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome1-partiallyachieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome1-partiallyachieved", "no")
                }
              ]
            }) }}

            {{ govukRadios({
              name: "outcome2-partiallyachieved",
              
              fieldset: {
                legend: {
                  text: "2. You have identified and catalogued who has access to the data important to the operation of the essential function(s).",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome2-partiallyachieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome2-partiallyachieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome2-partiallyachieved", "no")
                }
                
              ]
            }) }}

            {{ govukRadios({
              name: "outcome3-partiallyachieved",
              
              fieldset: {
                legend: {
                  text: "3. You regularly review location, transmission, quantity and quality of data important to the operation of the essential function(s).",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome3-partiallyachieved", "yes")
                },
                
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome3-partiallyachieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome3-partiallyachieved", "no")
                }
              ]
            }) }}

            {{ govukRadios({
              name: "outcome4-partiallyachieved",
              
              fieldset: {
                legend: {
                  text: "4. You have identified all mobile devices and media that hold data important to the operation of the essential function(s).",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome4-partiallyachieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome4-partiallyachieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome4-partiallyachieved", "no")
                }
                
              ]
            }) }}
            {{ govukRadios({
              name: "outcome5-partiallyachieved",
              
              fieldset: {
                legend: {
                  text: "5. You understand and document the impact on your essential function(s) of all relevant scenarios, including unauthorised data access, modification or deletion, or when authorised users are unable to appropriately access this data.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome5-partiallyachieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome5-partiallyachieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome5-partiallyachieved", "no")
                }
                
              ]
            }) }}
            {{ govukRadios({
              name: "outcome6-partiallyachieved",
              
              fieldset: {
                legend: {
                  text: "6. You occasionally validate these documented impact statements.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome6-partiallyachieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome6-partiallyachieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no justifications",
                  checked: checked("outcome6-partiallyachieved", "no")
                }
                
              ]
            }) }}
                
            {% endset -%}
            {% set notachievedHtml %}
            <h1 class="govuk-heading-s">Not achieved statements</h1>
              <div id="signIn-hint" class="govuk-hint">If any statement applies to your system or organisation in this section you must provide justifications otherwise you will fail this outcome.
              </div> 

            {{ govukRadios({
              name: "outcome1-not-achieved",

              fieldset: {
              legend: {
              html: "1. You have incomplete knowledge of what data is used by and produced in the operation of the essential function(s).",
              isPageHeading: true,
              classes: "govuk"
              }
              },
              hint: {
              text: " "
              },
              items: [
               
                {
                  value: "na",
                  text: "This does apply to my system or organisation and I have justifications ",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome1-not-achieved", "na")
                },
              {
                  value: "yes",
                  text: "This does apply to my system or organisation, but I have no justifications",
                  checked: checked("outcome1-not-achieved", "yes")
                },
                {
                  value: "no",
                  text: "This does not apply to my system or organisation",
                  checked: checked("outcome1-not-achieved", "no")
                }
                
              ]
              }) }}


                {{ govukRadios({
                name: "outcome2-not-achieved",

                fieldset: {
                legend: {
                html: "2. You have not identified the important data on which your essential function(s) relies.",
                isPageHeading: true,
                classes: "govuk"
                }
                },
                hint: {
                text: ""
                },
                items: [
                
                {
                  value: "na",
                  text: "This does apply to my system or organisation and I have justifications ",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome2-not-achieved", "na")
                },
              {
                  value: "yes",
                  text: "This does apply to my system or organisation, but I have no justifications",
                  checked: checked("outcome2-not-achieved", "yes")
                },
                {
                  value: "no",
                  text: "This does not apply to my system or organisation",
                  checked: checked("outcome2-not-achieved", "no")
                }
                
              ]
                }) }}

                {{ govukRadios({
                name: "outcome3-not-achieved",

                fieldset: {
                legend: {
                html: "3. You have not identified who has access to data important to the operation of the essential function(s).",
                isPageHeading: true,
                classes: "govuk"
                }
                },
                hint: {
                text: ""
                },
                items: [
                
                {
                  value: "na",
                  text: "This does apply to my system or organisation and I have justifications ",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome3-not-achieved", "na")
                },
              {
                  value: "yes",
                  text: "This does apply to my system or organisation, but I have no justifications",
                  checked: checked("outcome3-not-achieved", "yes")
                },
                {
                  value: "no",
                  text: "This does not apply to my system or organisation",
                  checked: checked("outcome3-not-achieved", "no")
                }
                
              ]
                }) }}

                {{ govukRadios({
                name: "outcome4-not-achieved",

                fieldset: {
                legend: {
                html: "4. You have not clearly articulated the impact of data compromise or lack of availability.",
                isPageHeading: true,
                classes: "govuk"
                }
                },
                hint: {
                text: ""
                },
                items: [
                
                {
                  value: "na",
                  text: "This does apply to my system or organisation and I have justifications ",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome4-not-achieved", "na")
                },
              {
                  value: "yes",
                  text: "This does apply to my system or organisation, but I have no justifications",
                  checked: checked("outcome4-not-achieved", "yes")
                },
                {
                  value: "no",
                  text: "This does not apply to my system or organisation",
                  checked: checked("outcome4-not-achieved", "no")
                }
                
              ]
                }) }}
                {% endset -%}


       {{ govukTabs({
        items: [
           {
            label: "Achieved",
            id: "achieved",
            panel: {
              html: achievedHtml
            }
          },
          {
            label: "Partially achieved",
            id: "partiallyachieved",
            panel: {
              html: partiallyachievedHtml
            }
          },
          {
            label:  "Not achieved",
            id: "notachieved",
            panel: {
              html: notachievedHtml
            }
          }
        ]
      }) }}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}
  </form>

  <a class="govuk-link" href="#">Back to Objective B - Protecting against cyber attacks and data breaches </a>
</div>
    </div>    
  </div>

{% endblock %}
