{% extends "layouts/webcaf-home.html" %}

{% block pageTitle %}
GovAssure Lead - My account (Submittedf) – GOV.UK Prototype Kit
{% endblock %}
 
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <form class="form" action="start-draft-assessment" method="post">
     
   
</form>
 <h2 class="govuk-heading-l">
        My Organisation lead account
      </h2>
       <div> <p class="govuk-hint">On this page you can:
      <ul class="govuk-list govuk-list--bullet govuk-hint">
        <li>start a new self-assessment</li>
        <li>continue a draft self-assessment</li>
        <li>view self-assessments already sent for review</li>
        <li>view stage 4 reviews</li>
      </ul>
      
    </p>
      </div>
  {{ govukButton({
  text: "Start a self-assessment",
  classes: "govuk-button--secondary"
}) }}


    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
       Continue a draft self-assessment
      </h3>
          <p class="govuk-body govuk-!-margin-bottom-2">You have 1 draft self-assessment ready to send<p>
            <a href="#" class="govuk-link govuk-link--no-visited-state">
                      View draft self-assessments<Br>
          </a>
          </p>


<Br>
    <h3 class="govuk-heading-m">
          Self-assessments sent for review
    </h3>
        <p class="govuk-body govuk-!-margin-bottom-2">You have 1 self-assessment sent for review<p>
          <a href="#" class="govuk-link govuk-link--no-visited-state">
                    View self-assessments sent for review<Br>
      </a>
   
<br>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      View a stage 4 review
    </h3>
          <P>
          <a href="#" class="govuk-link govuk-link--no-visited-state">
                    View 5 stage 4 reviews<Br>
      </a></p>
<br>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
      View a stage 5 TIP
    </h3>
          <P>
          <a href="my-account" class="govuk-link govuk-link--no-visited-state">
                   View and manage Targeted Improvement Plans (TIP) <Br>
      </a></p>
    
    
            
      
      


     
      
    </div>

    <div class="govuk-grid-column-one-third">

      
        <h2 class="govuk-body" id="subsection-title">
          Logged in as
          <span class="govuk-heading-m">
          Cabinet Office
          
        </span> 
        </h2>
        
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
            </li>
            <li>
              <a href="#"class="govuk-link govuk-link--no-visited-state">
                Your organisation details
              </a>
            </li>
            <li>
              <a href="#"class="govuk-link govuk-link--no-visited-state">
                Manage users
              </a>
            </li>
          </ul>
        </nav>
      

    </div>
  </div>

{% endblock %}
