{% extends "layouts/main.html" %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
  {% endblock %}


{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
    
    
    <h1 class="govuk-heading-xl">
Cyber and Domains Protection Team prototypes    </h1>
    <h2 class="govuk-heading-l">Managing the prototype admin area</h2>

    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Prototype name</th>
            <th class="govuk-table__header" scope="col">Version </th>
            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="webcaf/current" class="govuk-lik govuk-link--no-visited-state">Complete a CAF self-assessment</a>
              </td>
            <td class="govuk-table__cell">Version 2 <br><span class="govuk-body govuk-!-font-size-14"> on 8 Sep 2025</span></td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Design",
                classes: "govuk-tag--green"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="registration" class="govuk-lik govuk-link--no-visited-state">Get approval to use a .gov.uk domain name</a>
              </td>
            <td class="govuk-table__cell">Version 4 <br><span class="govuk-body govuk-!-font-size-14"> on 7 Mar 2025</span></td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Live",
                classes: "govuk-tag--blue"
              })}}
            </td>
          </tr>
      
            <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="registration/strategic/ground0" class="govuk-lik govuk-link--no-visited-state">Moving your parish council to a .gov.uk domain</a>
              </td>
            <td class="govuk-table__cell">Version 3 <br><span class="govuk-body govuk-!-font-size-14"> on 09 Jan 2025</span></td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Live",
                classes: "govuk-tag--blue"
              })}}
            </td>
          </tr>
          
        </tbody>
      </table>    
      
  </div>
</div>

{% endblock %}
